.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 32, 32);
}
.title {
  color: white;
}
#youtube {
  font-size: large;
}
.searchForm {
  display: flex;
}
.inputSearch {
  width: 520px;
  height: 40px;
  font-size: 20px;
}
.searchBtn {
  height: 40px;
  width: 50px;
}
.title {
  display: block;
  font-size: 30px;
  margin-right: 20px;
}
.logo {
  width: 100px;
  height: 100px;
}
